/* Icons */
ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: -0.675em;

	li {
		display: inline-block;
		padding: 0.675em 0.5em;

		a.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 3.75em;
			height: 3.75em;
			border-radius: 100%;
			border: solid _size(border-width) _palette(border);

			.icon-svg {
				width: 1.85rem;
				height: 1.85rem;
			}

			&:hover, &:focus-visible {
				color: _palette(highlight);
				border-color: _palette(highlight);
			}

			&:focus-visible {
				outline: 2px solid _palette(highlight);
				outline-offset: 3px;
			}
		}
	}

	@include breakpoint('<=xsmall') {
		li a.icon .icon-svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
