@use 'sass:color';
@use '../libs/breakpoints';
@use '../libs/functions';

/* Basic */

// Ensures page width is always >=320px.
@include breakpoints.breakpoint('<=xsmall') {
	html, body {
		min-width: 320px;
	}
}

// Inherit border-box sizing, including pseudoelements.
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

// Stops initial animations until the page loads.
body.is-preload {
	*, *:before, *:after {
		animation: none !important;
		transition: none !important;
	}
}

html {
	height: 100%;
}

body {
	$background-gradient: linear-gradient(60deg, #{color.adjust(functions.palette(accent1), $alpha: -0.5)} 5%, #{color.adjust(functions.palette(accent2), $alpha: -0.65)});

	height: 100%;
	background-color: functions.palette(bg);
	background-image: (
		url("img/overlay.png"),
		$background-gradient,
		url("img/bg.jpg")
	);
	background-repeat: repeat, no-repeat, no-repeat;
	background-size: 100px 100px, cover, cover;
	background-position: top left, center center, bottom center;
	background-attachment: fixed, fixed, fixed;

	&:after {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: inherit;
		opacity: 0;
		z-index: 1;

		background-color: functions.palette(bg);
		background-image: (
			url("img/overlay.png"),
			$background-gradient
		);
		background-repeat: repeat, no-repeat;
		background-size: 100px 100px, cover;
		background-position: top left, center center;

		transition: opacity #{functions.duration(bg)} ease-out;
	}

	&.is-preload:after {
		opacity: 1;
	}
}
