@use '../libs/breakpoints';
@use '../libs/functions';

/* Type */

body, input, select, textarea {
	color: functions.palette(fg);
	font-family: functions.font(family);
	font-size: 14pt;
	font-weight: functions.font(weight);
	line-height: 2;
	letter-spacing: functions.size(letter-spacing);
	text-transform: uppercase;

	@include breakpoints.breakpoint('<=xlarge') {
		font-size: 11pt;
	}

	@include breakpoints.breakpoint('<=xsmall') {
		font-size: 10pt;
		line-height: 1.75;
	}
}

a {
	transition: (
		color #{functions.duration(transition)} ease,
		border-color #{functions.duration(transition)} ease
	);
	color: inherit;
	text-decoration: none;

	&:hover {
		color: functions.palette(highlight);
	}
}

strong, b {
	color: functions.palette(fg-bold);
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 functions.size(element-margin) 0;
}

h1, h2, h3, h4, h5, h6 {
	color: functions.palette(fg-bold);
	line-height: 1.5;
	margin: 0 0 (functions.size(element-margin) * 0.5) 0;

	a {
		color: inherit;
		text-decoration: none;
	}
}

h1 {
	font-size: 1.85em;
	letter-spacing: (functions.size(letter-spacing) * 1.1);
	margin: 0 0 (functions.size(element-margin) * 0.35) 0;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
}

@include breakpoints.breakpoint('<=xsmall') {
	h1 {
		font-size: 1.65em;
	}
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border: 0;
	border-bottom: solid functions.size(border-width) functions.palette(border);
	margin: (functions.size(element-margin) * 2) 0;
}
